
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jaro", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("default.png");
    background-size: cover;
    background-position: center;
}
h2{
    color: #7a2618;;
}


.Box-login {
    width: 380px;
    padding: 32px 28px;
    background: #ffffff;
    border-radius: 26px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
    text-align: center;
    position: relative;
}

.Box-login h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.logo img {
    border-radius: 5%;
    width: 150px;
    margin: 10px 0 20px;
}
.password-box {
    position: relative;
    width: 100%;
}

.password-box input {
    width: 100%;
    padding-right: 45px; 
}

.eye-icon {
    width: 22px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;
}

.eye-icon:hover {
    opacity: 1;
}

/* đổi kiểu chữ input ở đây */
.Box-login input {
    font-family: "Poppins", sans-serif;
    font-size: 15px;

    width: 100%;
    margin: 8px 0;
    padding: 14px 16px;
    border: 1px solid #d4d7dd;
    border-radius: 12px;
    font-size: 15px;
    outline: none;
    transition: 0.25s;
}

.Box-login input:focus {
    border-color: rgb(163, 161, 157);
    background: #ffffff;
}

.Buttons {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    font-size: 17px;
    border: none;
    border-radius: 12px;
    background: rgb(189, 188, 188);
    color: black;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}


.Buttons.active {
    background-color: rgb(116, 103, 166);
    cursor: white;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.links a {
    text-decoration: none;
    color: #b48c46;
    font-size: 14px;
}
.links p {
    margin: auto;
}

.social {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}
.otherlogin {
    text-align: center;
    margin: 20px 0 12px;
    color: #7a2618;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: small;
    opacity: 50%;
    
}




.social button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Icon nền (có thể dùng icon thật nếu bạn muốn) */
.faceboook {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiXN9xSEe8unzPBEQOeAKXd9Q55efGHGB9BA&s");
}

.google {
    background-image: url("https://cdn-icons-png.flaticon.com/512/2991/2991148.png");
}

.x {
    background-image: url("https://cdn-icons-png.flaticon.com/512/5968/5968830.png");
}
